@model EventHub.ViewModels.EventFormViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create</h2>
@using (Html.BeginForm("Create", "Events"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Venue);
        @Html.TextBoxFor(m => m.Venue, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Date);
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Time);
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Topic);
        @Html.DropDownListFor(m => m.Topic, new SelectList(Model.Topics, "Id", "Name"), "", new { @class = "form-control" })

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
